$primaryFont: 'Krub', system-ui, Avenir, Helvetica, Arial, sans-serif;
$secondaryFont: 'Chilanka', cursive;

$seasalt: #F6F6F6;
$chocolate-cosmos: #3C0A1E;
$tyrian-purple: #611434;
$persian-rose: #E3479F;
$amaranth-purple:#AE2C61;

